<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nivel <%= @level.name %></title>
</head>
<body>
    <h1>Nivel <%= @level.name %></h1>
    <ul>
        <% @questions.each do |question| %>
            <li><a href="/question/<%= question.id %>"><%= question.description %></a></li>
        <% end %>
    </ul>
    <a href="/jugar">Volver a jugar</a>
</body>
