<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MorseMania</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="form-wrapper">
            <% if @error_message %>
                <p style="color: red;"><%= @error_message %></p>
            <% end %>
            <h1 class="title">Bienvenido a MorseMania!</h1>
            <form class="form" action="/login" method="post">
                <label for="name">Ingrese su nombre:</label>
                <input type="text" id="name" name="name" class="input-field" placeholder="Nombre" required>
                
                <label for="password">Ingrese su contraseña:</label>
                <input type="password" id="password" name="password" class="input-field" placeholder="Contraseña" required>
                
                <br>
                
                <a href="#" class="link">Olvidaste tu contraseña?</a>
                <a href="#" class="link">No tenés cuenta todavía? Registrate!</a>
                
                <button type="submit" class="submit-button">Iniciar Sesión</button>
            </form>
        </div>
    </div>
</body>
</html>
