<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MorseMania</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap" rel="stylesheet">
  <link href="/css/output.css" rel="stylesheet">
</head>
<section class="flex h-screen justify-center items-center px-16 py-12 text-base font-medium leading-6 text-black max-md:px-5 bg-gradient-to-b from-purple-800 to-gray-300">
  <div class="flex flex-col justify-center px-20 py-20 max-w-full bg-white rounded-3xl shadow-sm max-md:px-5 w-3/5 h-full">
      <h1 class="self-center mt-8 text-3xl font-extrabold">Bienvenido</h1>
      <form action="/login" method="post" class="flex flex-col">
        <% if @error_message %>
        <p style="color: red;"><%= @error_message %></p>
        <% end %>
          <label for="name" class="block mt-3">Ingrese su nombre:</label>
          <input
              id="name"
              name="name"
              type="text"
              class="justify-center w-full px-4 py-1.5 mt-2 text-xl whitespace-nowrap bg-white rounded-lg border border-solid border-neutral-200 text-ellipsis text-zinc-500"
              placeholder="Nombre" aria-label="Nombre" required
          />
          <label for="contrasena" class="block mt-3">Ingrese su contraseña:</label>
          <input
              id="password"
              name="password"
              type="password"
              class="justify-center w-full px-4 py-1.5 mt-2 text-xl whitespace-nowrap bg-white rounded-lg border border-solid border-neutral-200 text-ellipsis text-zinc-500"
              placeholder="Contraseña" aria-label="Contraseña" required
          />
          <br>  
          <a href="#" class="self-center mt-3 text-blue-500">Olvidaste tu contraseña?</a>
          <a href="/registro" class="self-center mt-3 text-blue-500">No tenés cuenta todavía? Registrate!</a>
          <button type="submit" class="justify-center self-center px-4 py-2 mt-3 mb-2.5 text-white bg-black rounded-lg">
              Iniciar Sesión
          </button>
      </form>
  </div>
</section>
