<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MorseMania</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script><!--TODO: remover plugin e insertar tailwind de otra manera-->
</head>

<section class="flex justify-center items-center px-16 whitespace-nowrap leading-[150%] max-md:px-5 bg-gradient-to-b from-purple-800 to-gray-300">
    <article class="flex flex-wrap gap-0 justify-center content-start p-5 rounded-xl shadow-sm bg-white bg-opacity-80">
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/085f5746cea5074c52b49de730bbf35a54c292ba746092c97f88a9fe2dfee413?apiKey=0336232ee457421bbd9ee3e8fe6e3499&" alt="" class="shrink-0 self-start aspect-square fill-orange-600 fill-opacity-80 w-[60px]" />
      <div class="flex flex-col flex-1 justify-center pb-16 max-md:max-w-full">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/72823194a7d8c0df30eef42247c0bbe3e290abf4fb1c9e37ed6e1cb9eda1c452?apiKey=0336232ee457421bbd9ee3e8fe6e3499&" alt="" class="self-end w-16 aspect-[0.77]" />
        <h1 class="mt-1.5 text-4xl font-extrabold text-center text-black max-md:max-w-full">&lt;Pregunta.descripcion&gt;</h1>
        <div class="flex flex-wrap justify-center content-start items-center self-center px-16 mt-64 max-w-full text-base font-medium text-white w-[708px] max-md:px-5 max-md:mt-10">
          <div class="flex flex-col max-w-full w-[484px]">
            <div class="flex gap-5 justify-between max-md:flex-wrap">
              <button class="flex gap-2 justify-between p-5 bg-black rounded-xl shadow-sm" tabindex="0" onclick="handleOption('a')">
                <span>a)</span>
                <span class="text-ellipsis">opcion1.descripcion</span>
              </button>
              <button class="flex gap-2 justify-between p-5 bg-black rounded-xl shadow-sm" tabindex="0" onclick="handleOption('b')">
                <span>b)</span>
                <span class="text-ellipsis">opcion2.descripcion</span>
              </button>
            </div>
            <div class="flex gap-5 justify-between mt-8 max-md:flex-wrap">
              <button class="flex gap-2 justify-center p-5 bg-black rounded-xl" tabindex="0" onclick="handleOption('c')">
                <span>c)</span>
                <span class="text-ellipsis">&lt;opcion3.descripcion&gt;</span>
              </button>
              <button class="flex gap-2 justify-between p-5 bg-black rounded-xl" tabindex="0" onclick="handleOption('d')">
                <span>d)</span>
                <span class="text-ellipsis">&lt;opcion4.descripcion&gt;</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>
  <script>
    function handleOption(option) {
      console.log('Option selected:', option);
    }
  </script>