<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
    <title>MorseMania</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="/css/output.css" rel="stylesheet">
</head>
<body>
<section class="flex flex-col self-center h-screen w-full bg-gradient-to-b from-purple-800 to-gray-300">
    <section class="flex flex-col gap-5 justify-center content-start self-stretch p-7 w-auto text-white max-md:px-5">
        <div class="flex gap-5 max-md:flex-col max-md:gap-0">
            <div class="flex flex-col w-[83%] max-md:ml-0 max-md:w-full">
                <article class="flex flex-col flex-1 justify-center pt-10 pr-14 leading-[140%] max-md:max-w-full">
                    <header class="flex items-center gap-5 flex-row p-12 mt-6 text-6xl font-bold tracking-tighter text-center rounded-xl shadow-sm bg-black bg-opacity-80 max-md:px-5 max-md:max-w-full">
                        <h1 class="text-4xl text-center italic font-light tracking-tighter text-purple-500">#<%= @rank %></h1>
                        <h2 class="text-6xl tracking-tighter text-white leading-[75px]"><%= @user.name %></h2>
                    </header>
                    <div class="flex flex-col justify-center self-start mt-11 w-auto max-w-full text-sm font-medium whitespace-nowrap bg-zinc-100 bg-opacity-0 max-md:mt-10">
                        <button class="justify-center items-center self-center px-4 py-1.5 ml-7 w-auto text-center rounded-3xl bg-black bg-opacity-80">Resumen</button>
                    </div>
                    <section class="flex flex-col mt-9 text-2xl rounded-xl shadow-sm bg-black bg-opacity-80 max-md:max-w-full">
                        <div class="flex gap-3 px-4 py-3.5 max-md:flex-wrap">
                            <strong>Puntuación Total:</strong>
                            <p class="flex-1 max-md:max-w-full"><%= @total_score %></p>
                        </div>
                        <div class="flex gap-3 px-4 py-3.5 mt-1.5 max-md:flex-wrap">
                            <strong>Niveles Completados:</strong>
                            <p class="flex-1 max-md:max-w-full"><%= @levels_completed %></p>
                        </div>
                    </section>
                </article>
            </div>
            <aside class="flex flex-col ml-5 max-md:ml-0 max-md:w-full">
                <button class="justify-center self-start px-4 py-2 text-base font-medium leading-6 rounded-xl bg-orange-600 hover:scale-105 hover:bg-red-600 hover:border-y-2 hover:border-x-2 hover:transition-all transition duration-200" onclick="window.location.href='/logout'">Cerrar Sesión</button>
            </aside>
        </div>
    </section>
    <div class="footer">
        <div class="footer-button hover:transition-all hover:scale-110 transition duration-200" onclick="location.href='/jugar'">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/c52bdb970c19ac4eba61212d14620ab996a7e7213b33fd558cb694ab558bd084?apiKey=0336232ee457421bbd9ee3e8fe6e3499&" alt="Jugar">
        </div>
        <div class="footer-button hover:transition-all hover:scale-110 transition duration-200" onclick="location.href='/perfil'">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/16164984ecd76939b09e3f94f4338985d4db2833b5e4eff64a701238199a6a20?apiKey=0336232ee457421bbd9ee3e8fe6e3499&" alt="Perfil">
        </div>
        <div class="footer-button hover:transition-all hover:scale-110 transition duration-200" onclick="location.href='/ranking'">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/d5bf6cf29a534f8357cc59907c1c4ba2da6e7e7f2d3a7f5a315273879bcc9026?apiKey=6f181d88291c4e3c9df0b864cebefcce&" alt="Ranking">
        </div>
    </div>
</section>
</body>
</html>
