<section class="flex flex-col justify-center px-16 py-20 bg-white rounded-xl shadow-sm max-w-[521px] max-md:px-5">
  <h1 class="self-center text-2xl font-bold tracking-tight leading-9 text-center text-black">Abandonando Nivel</h1>
  <p class="self-center mt-1 text-lg leading-7 text-center text-black">Se perderá todo tu progreso</p>
  <p class="self-center mt-1 text-lg leading-7 text-center text-black">¿Estás seguro de que querés abandonar?</p>
  <button onclick="continuarHandler()" class="justify-center items-center px-4 py-2 mt-6 text-base font-medium leading-6 text-white whitespace-nowrap rounded-lg bg-orange-600 bg-opacity-70 max-md:px-5">
    Continuar
  </button>
  <div class="flex gap-2 justify-center mt-6">
    <div class="flex-1 shrink-0 h-px bg-neutral-200"></div>
    <div class="flex-1 shrink-0 h-px bg-neutral-200"></div>
  </div>
  <button onclick="salirHandler()" class="justify-center items-center px-16 py-3.5 mt-6 text-base font-medium leading-6 text-black whitespace-nowrap rounded-lg bg-zinc-100 max-md:px-5">
    Salir
  </button>
</section>
