<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashes & Dots</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap" rel="stylesheet">
  <link href="/css/output.css" rel="stylesheet">
  <link href="icon.ico" rel="icon">
</head>
<body>
<section class="flex h-screen justify-center items-center px-16 py-12 text-base font-medium leading-6 text-black max-md:px-5 bg-gradient-to-b from-purple-800 to-gray-300">
  <div class="flex flex-col justify-center px-20 py-20 max-w-full bg-white rounded-3xl shadow-sm max-md:px-5 w-3/5">
      <button onclick="window.location.href = '/login'"  class=" w-min bg-purple-500 text-white p-2 rounded hover:transition-all transition duration-200 hover:ease-in hover:scale-105 hover:bg-purple-700"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6"> <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" /></svg></button>
      <h1 class="self-center mt-8 text-3xl font-extrabold">Crear una cuenta</h1>
      <% if @error_message %>
        <p class="text-red-500"><%= @error_message %></p>
      <% end %>
      <form class="flex flex-col" action="/registro" method="POST">
        <label for="mail" class="block mt-3">Ingrese su email:</label>
        <input
            id="mail"
            name="mail"
            type="text"
            class="justify-center w-full px-4 py-1.5 mt-2 text-xl whitespace-nowrap bg-white rounded-lg border border-solid border-neutral-200 text-ellipsis text-zinc-500"
            placeholder="Email" aria-label="Email"
        />
          <label for="name" class="block mt-3">Ingrese su nombre:</label>
          <input
              id="name"
              name="name"
              type="text"
              class="justify-center w-full px-4 py-1.5 mt-2 text-xl whitespace-nowrap bg-white rounded-lg border border-solid border-neutral-200 text-ellipsis text-zinc-500"
              placeholder="Nombre" aria-label="Nombre"
          />
          <label for="password" class="block mt-3">Ingrese su contraseña:</label>
          <input
              id="password"
              name="password"
              type="password"
              class="justify-center w-full px-4 py-1.5 mt-2 text-xl whitespace-nowrap bg-white rounded-lg border border-solid border-neutral-200 text-ellipsis text-zinc-500"
              placeholder="Contraseña" aria-label="Contraseña"
          />

          <button type="submit" class="justify-center self-center px-4 py-2 mt-3 mb-2.5 text-white bg-black rounded-lg">
            Registrarse
          </button>
      </form>
  </div>
</section>
</body>
</html>
