body {
    background: linear-gradient(to bottom, #4E2394, #DBC9F5);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

.container {
    text-align: center;
    background: rgba(237, 234, 253, 0.5);
    border-radius: 10px;
    padding: 20px;
    width: 1156px;
    height: 464px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #000;
}

.levels-container {
    display: flex;
    justify-content: center;
}

.level {
    width: 80px;
    height: 80px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #ccc;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.level.completed {
    background-color: #FF3D00; /* Naranja para niveles completados */
}

.level.unlocked {
    background-color: #FF6F61; /* Naranja claro para niveles desbloqueados pero no completados */
}

.level.locked {
    background-color: #CCCCCC;
    cursor: not-allowed;
}

.footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #F8F8F8;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer-button {
    cursor: pointer;
    font-size: 16px;
    color: #4E2394;
    transition: color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-button img {
    width: 75%;
    height: auto;
}

.footer-button:hover {
    color: #FF6F61;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
