html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #4E2394, #87849A); 
    justify-content: center; 
    align-items: center;
}

.container {
    flex: 1;
    display: flex;
    overflow-y:scroll;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.row {
    width: 500px;
    height: 250px;
    background: linear-gradient(to bottom, yellow, orange);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}
